/* --------------------------------------------------------------------------------------------------------------------------------------------------
Common
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "Cerebri";
    src: url("{{ '[CerebriSans-Regular]' | asset_url }}") format("[ttf]");
}

body {
    background-color: var(--body-color);
    color: var(--body-text-color);
    font-family: "Cerebri", sans-serif;
    margin: 0;
    min-height: 300vh;
    overflow-x: hidden;
    padding: 120px 0 0 0;

    p {
        margin-bottom: 0;
    }
}

.main-content {
    margin: 0 auto;
    max-width: var(--site-container);
}

.content-container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--site-content-container);

    a {
        color: var(--body-text-color);
        text-decoration: none;
        transition: var(--default-transition);

        &:hover {
            opacity: var(--default-fade-opacity);
        }
    }

    .icon--wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

form {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;

    label {
        display: block;
        margin-bottom: 10px;
        min-width: 100%;
        width: 100%;
    }

    input {
        border: none;
        height: 50px;
        flex-grow: 1;
        max-width: 320px;
        padding: 0 10px;
    }

    button {
        background-color: #519757;
        border: none;
        color: white;
        height: 50px;
        padding: 0 20px;
        width: 80px;
    }
}

.form-message {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 10px auto 0 auto;
    max-height: 0;
    max-width: 400px;
    opacity: 0;
    text-align: center;
    transition: var(--default-transition);

    &.show {
        max-height: 200px;
        opacity: 1;
    }

    &.success-message {
        background-color: #519757;
        color: white;
    }

    &.error-message {
        background-color: red;
        color: white;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Mobile
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .section--wrapper {
        padding: 40px 0; 
    }

    .content-container {
        padding: 0 20px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Desktop
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 768px) {
    .section--wrapper {
        padding: 80px 0;
    }

    .content-container {
        padding: 0 40px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
Large Desktop
-------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
    .content-container {
        padding: 0 80px;
    }
}